*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#board {
  display: flex;
  flex-wrap: wrap;
  max-width: 980px;
}

.square {
  background-color: blue;
  flex-basis: 61px;
  height: 61px;
  border: 1px solid pink;
}
